<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!-- Definición de las cadenas de conexión a bases de datos -->
	<connectionStrings>
		<!-- Cadena de conexión a la base de datos utilizando SQL Server -->
		<add name="StringConexion"
			 connectionString="Server=DESKTOP-QCL91AC\SQLEXPRESS;Database=ClinicaDB;User id=sa;Password=ucr2025;TrustServerCertificate=true" />
	</connectionStrings>
	
</configuration>